# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - README.md

pool:
  vmImage: 'ubuntu-16.04'

variables:
  solution: '**/*/*.csproj'
  buildConfiguration: 'Release'

steps:

# Restore NuGet packages
- task: DotNetCoreCLI@2
  displayName: Restore NuGet Packages
  inputs:
    command: restore
    projects: $(solution)

# Build solution
- task: DotNetCoreCLI@2
  displayName: Build Solution
  inputs:
    command: build
    projects: $(solution)
    arguments: '--configuration $(buildConfiguration)'

# Run unit tests
- task: DotNetCoreCLI@2
  displayName: Run Unit Tests
  inputs:
    command: test
    projects: '**/*Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration) --collect "Code coverage"'
